html, body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: 'DOS';
    color: floralwhite;
    width: 100%;
    min-height: 100vh;
    
}
.main {
    font-size: 1em;
    border-left: 1em #a8a8a8 solid;
    border-right: 1em #a8a8a8 solid;
    /* background-color: #a8a8a8; */
    display: flex;
    flex: 1 1 1;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    
}
#terminal-wrapper {
    display: flex;
    flex: 1 1 1;
    align-content: center;
    align-items: stretch;
    max-width: 100%;
}
#terminal {
}
.tui-statusbar {
    display: flex;
    align-self: stretch;
    background-color: #a8a8a8;
}
  .tui-statusbar ul li {
    display: inline-block;
    margin-left: 1px;
}
  .tui-statusbar ul li:active {
    background-color: yellowgreen;
    color: floralwhite; 
}
  .tui-statusbar ul {
    display: flex;
    flex: 1 1 auto;
    align-self: stretch;
}
  .tui-statusbar li {
    display: flex;
    flex: 1 1 auto;
    align-self: flex-end;
}
   .tui-statusbar li a {
    font-size: 1em;
}
  .tui-statusbar-divider {
    border-right: 2px floralwhite solid;
    display: inline;
    margin: 0px 3px; 
}

#waf-table {
    display: flex;
    flex: 1 1 ;
    flex-direction: column;
    width: 90%;
    margin-top: 1%;
    margin-bottom: 2%;
}
.tui-table {
    border: 2px solid floralwhite;
}

.table-region {
    color: inherit;
    text-align: center;
    border-left: 2px floralwhite solid;
    border-right: 2px floralwhite solid;
    border-top: 2px floralwhite solid;
    padding: 1%;
}
.table-run-button button {
    border: 3px floralwhite solid;
    padding: 1.5%;
    width: 100%;
    background-color: #a800a8;
    color: floralwhite;
}
.table-run-button button:hover:before {
    content: "L F G";
}
.table-run-button button:hover {
    background-color: yellowgreen;
}
.table-run-button button:hover span {
    display: none;
}



