html, body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: 'DOS';
    color: floralwhite;
    width: 100%;
    min-height: 100vh;
    
}
.main {
    font-size: .8em;
    border-left: 1em #a8a8a8 solid;
    border-right: 1em #a8a8a8 solid;
    /* background-color: #a8a8a8; */
    display: flex;
    flex: 1 1 1;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    
}
/* terminal starts */
#terminal-wrapper {
    display: flex;
    flex: 1 1 1;
    align-content: center;
    align-items: stretch;
    max-width: 100%;
}
#terminal {
    display: flex;
    flex: 1 1 1;
    align-content: center;
    align-items: stretch;
    max-width: 100%;
}
/* terminal ends  */
/* statusbar starts */
.tui-statusbar {
    display: flex;
    align-self: stretch;
    background-color: #a8a8a8;
    max-width: 100%;
}
  .tui-statusbar ul li {
    display: inline-block;
    color: black;
    margin-left: 1px;
}
  .tui-statusbar ul li:active {
    background-color: yellowgreen;
    color: floralwhite; 
}
  .tui-statusbar ul {
    display: flex;
    flex: 1 1 auto;
    align-self: stretch;
}
  .tui-statusbar li {
    display: flex;
    flex: 1 1 auto;
    align-self: flex-end;
}
   .tui-statusbar li a {
    font-size: 1em;
}
  .tui-statusbar-divider {
    border-right: 2px rgb(0, 0, 0) solid;
    display: inline;
    margin: 0px 3px; 
}
/* statusbar ends */
/* run button starts*/
.table-run-button button {
    padding: .5%;
    width: 100%;
    background-color: #a800a8;
    color: floralwhite;
}
.table-run-button button:hover:before {
    content: "L F G";
}
.table-run-button button:hover {
    background-color: yellowgreen;
}
.table-run-button button:hover span {
    display: none;
}
/* run button ends*/
/* table starts */
.table-description-text {
    color: inherit;
    text-align: center;
    border-left: 2px floralwhite solid;
    border-right: 2px floralwhite solid;
    border-top: 2px floralwhite solid;
    padding: 1%;
}
#waf-table-wrapper {
    display: flex;
    flex: 1 1 ;
    flex-direction: column;
    width: 90%;
    margin-top: 2%;
    margin-bottom: 2%;
}
#rpc-table-wrapper-outer {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    margin-bottom: 2%;
    margin-top: 2%;
    width: 90%;
    border: 2px solid floralwhite;
}
/* centers top table */
#rpc-table-wrapper-outer > table:nth-child(0) > thead > tr * {
    width: 33%;
}
/* merges borders */
#rpc-table-wrapper-outer > table:nth-child(3) {
    border-collapse: collapse;
}
/* borders for locations */
#rpc-table-wrapper-outer > table:nth-child(3) > colgroup:nth-child(2),
#rpc-table-wrapper-outer > table:nth-child(3) > colgroup:nth-child(3),
#rpc-table-wrapper-outer > table:nth-child(3) > colgroup:nth-child(4) {
    border-left: 2px solid floralwhite;
    border-right: 2px solid floralwhite;
}
/* changes to tuic.css class */
.tui-table {
    border: 2px solid floralwhite;
    padding: 1%;
}
/* Adds border around rpc test averages */
#rpc-table-wrapper-outer > table:nth-child(3) > tbody > tr:nth-child(6) {
    border: 2px dashed floralwhite;
}
#solana-transaction-count {
    color: inherit;
    text-align: center;
    padding: 1%;
}
/* table ends */