html, body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: black;
    /* font-family: 'Lucida Console'; */
    font-family: 'DOS';
    color: floralwhite;
    width: 100vw;
    height: 100vh;
}
.title {
    position: relative;
    margin-top: 1%;
}
.title:hover  .art {
    color: yellowgreen;
}
.tui-fieldset {
    border: 6px floralwhite double;
    padding: 1px;
    background-color: inherit;
}
pre {
    margin: -1%;
}
.art {
    margin-right: 3%;
    display: flex;
    justify-content: center;
    font-size: 1.7vw;
}
legend {
    position: absolute;
    bottom: 2.5%;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 0 5px;
    background: black;
    font-size: 1.4vw;
}
.main {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    max-width: 100%;
}
#terminal-wrapper {
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    margin: 4%;
    padding: 2%;
    border: 2px floralwhite solid;
    width: 75vw;
    max-height: 65%;
}
#waf-table {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
}
.table-region {
    color: inherit;
    text-align: center;
    border-left: 2px floralwhite solid;
    border-right: 2px floralwhite solid;
    border-top: 2px floralwhite solid;
    padding: 1%;
}
.table-run-button button {
    border: 3px floralwhite solid;
    padding: 1.5%;
    width: 100%;
    background-color: #a800a8;
    color: floralwhite;
}
.table-run-button button:hover:before {
    content: "L F G";
}
.table-run-button button:hover {
    background-color: yellowgreen;
}
.table-run-button button:hover span {
    display: none;
}


